extends ./layout.pug

block append content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
        a.navbar-brand(href='#page-top') !{PrismicDOM.RichText.asText(data.title)}
        |
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/#home') Home
                li.nav-item
                    a.nav-link(href='/#about') About
                li.nav-item
                    a.nav-link(href='/#services') Services
                li.nav-item
                    a.nav-link(href='/#contact') Contact
                li.nav-item
                    a.nav-link(href='/#map') Location
                li.nav-item
                    a.nav-link(href='/gallery') Gallery
                li.nav-item
                    a.nav-link(href='#faq') FAQ
                li.nav-item
                    a.nav-link(href='https://app.acuityscheduling.com/schedule.php?owner=14436138') Schedule an Appointment

    section#faq.masthead(style='background: url(' + PrismicDOM.Link.url(data.backgroundImage) + ') no-repeat bottom center scroll').text-center
        .intro-body
            .container
                .row
                    .col-lg-8.mx-auto
                        h1
                            img.left(src=PrismicDOM.Link.url(data.title_image))
                        div !{PrismicDOM.RichText.asHtml(data.tagline)}

    section.content-section.text-left
        .container
            .row
                .col-lg-12.mx-auto
                    #accordion(role="tablist")
                        .card
                            .faq_title.card-header(role="tab" id="heading_0") 
                                a(data-toggle="collapse" data-target="#collapse_0" href="javascript:void(0);"  aria-controls="collapse_0" aria-expanded="true")
                                    h3 When Is The Best Time To Take A Peek At Your Baby?
                            div(id="collapse_0" role="tabpanel" aria-labelledby="heading_0" data-parent="#accordion" class="collapse show")
                                .faq_text.card-body 
                                    p.lead.weeks-15-to-20 Weeks 15–20: Best time to see your Baby's entire body, but the face may not be visible.
                                    p.lead.weeks-20-to-25 Weeks 20–25: Capture the first images of your Baby's facial features! This is also the optimal time to visualize fetal movement – i.e. your Baby moving its head, hands, arms & feet!
                                    p.lead.weeks-25-to-30 Weeks 25–30: Your Baby's features are more defined & developed -- plus see how much your Baby has grown!
                                    p.lead.weeks-30-to-35 Weeks 30–35: Although your Baby is nearly full-grown & is too big to be captured in 1 image, your Baby can now be visualized in great detail. It's like having "close-up" session!
                                    br
                                    .datepickers
                                        .datepicker.col-lg-12.mx-auto#ultrasound_calendar


                    for slice in faqs
                        each faq, i in slice.value
                            .card
                                .faq_title.card-header(role="tab" id="heading_" + (i + 1)) 
                                    a(data-toggle="collapse" data-target="#collapse_" + (i + 1) href="javascript:void(0);"  aria-controls="collapse_" + (i + 1) aria-expanded="false") !{PrismicDOM.RichText.asHtml(faq.title)}
                                div(id="collapse_" + (i + 1) role="tabpanel" aria-labelledby="heading_" + (i + 1) data-parent="#accordion" class="collapse" )
                                    .faq_text.card-body !{PrismicDOM.RichText.asHtml(faq.text)}
