extends ./layout.pug

block append content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
        a.navbar-brand(href='#page-top') !{PrismicDOM.RichText.asText(data.title)}
        |
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='/#home') Home
                li.nav-item
                    a.nav-link(href='/#about') About
                li.nav-item
                    a.nav-link(href='/#services') Services
                li.nav-item
                    a.nav-link(href='/#contact') Contact
                li.nav-item
                    a.nav-link(href='/#map') Location
                li.nav-item
                    a.nav-link(href='#faq') FAQ
                li.nav-item
                    a.nav-link(href='https://app.acuityscheduling.com/schedule.php?owner=14436138') Schedule an Appointment

    section#faq.masthead(style='background: url(' + PrismicDOM.Link.url(data.backgroundImage) + ') no-repeat bottom center scroll').text-center
        .intro-body
            .container
                .row
                    .col-lg-8.mx-auto
                        h1
                            img.left(src=PrismicDOM.Link.url(data.title_image))
                        div !{PrismicDOM.RichText.asHtml(data.tagline)}

    section.content-section.text-left
        .container
            .row
                .col-lg-12.mx-auto
                    #accordion(role="tablist")
                    for slice in faqs
                        each faq, i in slice.value
                            .card
                                .faq_title.card-header(role="tab" id="heading_" + i) 
                                    a(data-toggle="collapse" data-target="#collapse_" + i href="javascript:void(0);"  aria-controls="collapse_" + i aria-expanded=(i === 0) ? "true" : "false") !{PrismicDOM.RichText.asHtml(faq.title)}
                                div(id="collapse_" + i role="tabpanel" aria-labelledby="heading_" + i data-parent="#accordion" class=(i === 0) ? "collapse show" : "collapse" )
                                    .faq_text.card-body !{PrismicDOM.RichText.asHtml(faq.text)}

